body {
  background-color: #282c34;
  color: #ffffff;
}

/* app level rules */
.App {
  height: 100%;
  width: 100%;
}

input {
  border-radius: 10px;
}

hr {
  margin: 0;
}

/* query rules */
.Query {
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
}

.Query label {
  padding: 5px;
  margin: 5px;
}

.Query input {
  margin: 20px 5px;
  padding: 5px;
}

/* filter rules */
.Filter {
  position:relative;
  top: 0;
  width: 100%;
  text-align: center;
}

.Filter select {
  padding:  5px;
  margin: 10px 5px;
  border-radius: 10px;
}

.Filter label {
  padding: 5px;
  margin: 5px;
}

/* annotate rules */
.Annotate {
  position:relative;
  top: 0;
  width: 100%;
  text-align: left;
  height: 50px;
}

.Annotate select {
  padding: 5px;
  margin: 10px 5px;
  border-radius: 10px;
}

.Annotate label {
  padding: 5px;
  margin: 5px;
}

.Annotate input {
  padding: 5px;
  margin: 5px;
}

/* toolbar rules */
.view-toolbar {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 10px 0px;
}

/* Mosaic rules */
.Mosaic {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background-color: #282c38;
}

.Mosaic form {
  position: fixed;
  bottom: 0;
  background-color: #282c34;
  width: 100%;
  text-align: right;
  padding: 30px 40px;
}

.Mosaic form input {
  position: relative;
  right: 100px;
  padding: 10px;
}

/* Image rules */
.Image {
  display: inline;
  margin: 20px;
  border: 2px solid gray;
}

.red-border {
  border: 3px solid red;
}

.Annotated {
  border: 3px solid yellow;
}

/* Option Tab rules */


/* Add class rules */
.AddClass input {
  margin: 10px 5px;
  padding: 5px;
}

.AddClass label {
  margin: 30px 20px;
}